<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find moodz_description)/urdf/moodz.xacro'" />
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model moodz -x $(arg x) -y $(arg y) -z $(arg z)" />
    <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 -1.58 0 -1.58  base_link camera_1 100"/>
    <node name="robot_state_publsher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publsiher" pkg="joint_state_publisher" type="joint_state_publisher" />


</launch>